body {
    color: #005173;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0;
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

html {
    scrollbar-width: none;
}

.background-fixed {
    left: 0;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.background-desktop {
    height: 100vh;
    width: 100vw;
}

@media (min-width: 1024px) {
    .abacus-logo {
    display: none;
    }
}

@media (min-width: 1081px) {
    .brands-model-mobile {
    display: none;
    }
}

/* //////////////////// NAVBAR //////////////////// NAVBAR //////////////////// */

.fixed-navbar {
    background-color: #00000070;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    box-shadow: 0px 0px 60px black;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

.logo-abacus {
    margin-left: 22%;
    margin-right: 0.5%;
    width: 3%;
}

.span-name {
    color: yellow;
    font-family: "Neuropol X W00 Expanded Bold";
    font-size: 1.5rem;
    font-weight: bold;
}

.span-slogan {
    font-family: "Neuropol X W00 Expanded Bold";
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
}

/* //////////////////// HERO SECTION //////////////////// HERO SECTION //////////////////// */

.container-hero {
    background-image: linear-gradient(to bottom, transparent 20%, rgba(20, 20, 20, 1) 100%), url(images/background\ hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 6%;
    text-align: left;
    width: 100%;
}

.slogan {
    left: -100%;
    padding: 1% 0;
    position: absolute;
    text-align: right;
    transform: translate(0, -50%);
    transition: left 4s ease-in-out;
    white-space: nowrap;
}

#slogan1 {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 30px black;
    top: 22%;
    width: 50%;
}

#slogan2 {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 30px black;
    top: 40%;
    width: 45%;
}

#slogan3 {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 30px black;
    top: 58%;
    width: 40%;
}

#slogan4 {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 30px black;
    top: 76%;
    width: 35%;
}

.fade-in {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.h1-slogan {
    color: yellow;
    font-weight: bold;
    margin-right: 5%;
    text-shadow: 0px 0px 6px #005173;
}

.h3-slogan {
    color: #005173;
    font-weight: bold;
    margin-right: 5%;
}

/* //////////////////// BRANDS SECTION //////////////////// BRANDS SECTION //////////////////// */

.container-abacus {
    background-color: #efefef9e;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    margin: auto;
    padding-bottom: 5%;
}

.poc-description {
    background-image: url(images/poc\ description\ background.jpg);
    padding-top: 5%;
}

.poc-description-heading {
    font-family: "Neuropol X W00 Expanded Bold";
    margin: auto;
    margin-bottom: 3%;
    width: 65%;
}

.poc-description-text {
    margin: auto;
    margin-bottom: 5%;
    width: 65%;
}

#featured-3 {
    text-align: left;
}

.pb-2 {
    font-family: "Neuropol X W00 Expanded Bold";
}

.features-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;
}

.container-brands {
    margin: auto;
    overflow: hidden;
    padding-bottom: 2%;
    text-align: center;
}

.brands-type {
    margin: auto;
}

.name-hytera {
    margin-right: 3%;
    margin-top: -3%;
    width: 25%;
}

.name-motorola {
    margin-right: 3%;
    width: 28%;
}

.name-mytetra {
    width: 28%;
}

.brands-model {
    border-radius: 50px;
    margin-top: 5%;
    width: 90%;
}

.brands-model-video {
    border-radius: 50px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    width: 40%;
}

/* //////////////////// CLIENTS SECTION //////////////////// CLIENTS SECTION //////////////////// */

.client-logos {
    margin: auto;
    padding-top: 0.5%;
    text-align: center;
}

.rainbow-text-clients {
    font-family: "Neuropol X W00 Expanded Bold";
	font-size: 7rem;
    font-weight: 400;
    margin-top: 3%;
    margin-bottom: 5%;
}

.rainbow-text-clients .block-line-clients > span {
	display: inline-block;
    margin-top: 0;
}

.block-line-clients {
    animation: animatedBackground_b 8s linear infinite alternate;
    background-clip: text;
	background-image: linear-gradient(45deg, rgba(128, 128, 128, 0), #005173, yellow);
	color: #0000;
	-webkit-background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
}

@keyframes animatedBackground_b {
    0% { background-position: 0 0 }
    100% { background-position: -1400px 0 }
}

.logo-clients-1 {
    margin: 0 2%;
    margin-top: 5%;
    width: 14%;
}

.logo-clients-1:hover {
    transform: scale(1.02);
}

.logo-clients-2 {
    margin: 0 4%;
    width: 12%;
}

.logo-clients-2:hover {
    transform: scale(1.02);
}

.logo-clients-3 {
    margin: 0 4%;
    width: 12%;
}

.logo-clients-3:hover {
    transform: scale(1.02);
}

.logo-clients-4 {
    margin: 0 4%;
    width: 12%;
}

.logo-clients-4:hover {
    transform: scale(1.02);
}

.logo-clients-5 {
    margin: 0 4%;
    width: 10%;
}

.logo-clients-5:hover {
    transform: scale(1.02);
}

.logo-clients-6 {
    margin: 0 4%;
    width: 8%;
}

.logo-clients-6:hover {
    transform: scale(1.02);
}

.logo-clients-7 {
    margin: 0 2%;
    margin-top: 5%;
    width: 14%;
}

.logo-clients-7:hover {
    transform: scale(1.02);
}

.logo-clients-8 {
    margin: 0 2%;
    margin-top: 5%;
    width: 12%;
}

.logo-clients-8:hover {
    transform: scale(1.02);
}

.logo-clients-9 {
    margin: 0 2%;
    margin-top: 5%;
    width: 17%;
}

.logo-clients-9:hover {
    transform: scale(1.02);
}

.logo-clients-10 {
    margin: 0 2%;
    margin-top: 5%;
    width: 17%;
}

.logo-clients-10:hover {
    transform: scale(1.02);
}

.carousel-inner {
    margin: auto;
    margin-top: 5%;
    padding: 2% 0;
    width: 70%;
}

.d-block {
    border-radius: 30px;
    margin: auto;
    margin-bottom: 3%;
    width: 70%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

/* //////////////////// CONTACT SECTION //////////////////// CONTACT SECTION //////////////////// */

.container-contact {
    background-image: linear-gradient(to bottom, transparent 20%, rgba(20, 20, 20, 1) 100%), url(images/background\ contact.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
    padding-right: 3%;
    padding-top: 3%;
    overflow: hidden;
    text-align: right;
    width: 100%;
}

.rainbow-text {
    font-family: "Neuropol X W00 Expanded Bold";
	font-size: 7rem;
    font-weight: 400;
    padding-bottom: 1%;
}

.rainbow-text .block-line > span {
	display: inline-block;
    margin-top: 0;
}

.block-line {
    background-clip: text;
	background-image: linear-gradient(45deg, rgba(128, 128, 128, 0), #005173, yellow);
	color: #0000;
	-webkit-background-clip: text;
	animation: animatedBackground_a 8s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: 1800px 0px }
}

.container-heading {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.heading-contact {
    margin-top: 0;
}

.contact-logo-abacus {
    margin-right: 0.5%;
    width: 6%;
}

.contact-span-name {
    color: yellow;
    font-family: "Neuropol X W00 Expanded Bold";
    font-size: 2.4rem;
    font-weight: bold;
}

.shop-link {
    color: #005173;
    font-weight: bold;
    text-decoration: none;
}

.shake {
    animation: shakeAnimation 3s infinite;
}

@keyframes shakeAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.contact-text {
    color: white;
    margin-bottom: 2%;
    margin-top: 1%;
}

.contact-detail {
    color: white;
    font-weight: bold;
}

.contact-link {
    font-size: 1.9rem;
    font-weight: bold;
    color: yellow;
    text-decoration: none;
    text-shadow: 0px 0px 6px #005073;
}
  
#earth {
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: url(images/earth.jpg);
    border-radius: 50%;
    background-size: 1000px;
    box-shadow: inset 0px 20px 80px 6px rgba(0, 0, 0, 0.6), inset 20px 0 30px 10px rgba(0, 0, 0, 0.3), 30px 30px 80px black;
    height: 600px;
    margin-left: 68%;
    margin-top: 2%;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    width: 600px;
  }

  @keyframes rotate {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 1000px 0px;
    }
  }

  @-webkit-keyframes rotate {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 1000px 0px;
    }
  }

/* //////////////////// FOOTER SECTION //////////////////// FOOTER SECTION //////////////////// */

.container-footer {
    background-color: #efefef9e;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    margin: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    width: 100%;
}

.logo-footer {
    width: 20%;
}

.text-footer {
    color: #005073;
    margin-bottom: 0;
}

.link-footer {
    color: yellow;
}








/* //////////////////// LAPTOP //////////////////// LAPTOP //////////////////// */
@media (min-width: 769px) and (max-width: 1440px) {

.logo-abacus {
    margin-left: 13%;
}

#slogan1 {
    top: 20%;
    width: 55%;
}

#slogan2 {
    top: 38%;
    width: 50%;
}

#slogan3 {
    top: 56%;
    width: 45%;
}

#slogan4 {
    top: 74%;
    width: 40%;
}

.h1-slogan {
    font-size: 2rem;
}

.h3-slogan {
    font-size: 1.8rem;
}

.pb-2 {
    text-align: right;
}

.poc-description-heading {
    width: 80%;
}

.poc-description-text {
    width: 80%;
}

.rainbow-text-clients {
	font-size: 5rem;
}

.rainbow-text {
	font-size: 5rem;
}

.contact-logo-abacus {
    width: 5%;
}

.contact-span-name {
    font-size: 1.8rem;
}

.contact-text {
    font-size: 1.5rem;
}

.contact-detail {
    font-size: 1.6rem;
}

.contact-link {
    font-size: 1.6rem;
}

#earth {
    background-size: 800px;
    height: 550px;
    margin-left: 62%;
    margin-top: 8%;
    width: 550px;
  }

  @keyframes rotate {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 800px 0px;
    }
  }

  @-webkit-keyframes rotate {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 800px 0px;
    }
  }

}








/* //////////////////// TABLET //////////////////// TABLET //////////////////// */
@media (min-width: 768px) and (max-width: 1024px) {

    
    .logo-abacus {
        margin-left: 21%;
        width: 5%;
    }
    
    .span-slogan {
        display: none;
    }
    
    .slogan {
        padding: 0 0;
        text-align: center;
    }
    
    #slogan1 {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
        box-shadow: 0px 0px 0px black;
        top: 18%;
        width: 100%;
    }
    
    #slogan2 {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
        box-shadow: 0px 0px 0px black;
        top: 32%;
        width: 100%;
    }
    
    #slogan3 {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
        box-shadow: 0px 0px 0px black;
        top: 46%;
        width: 100%;
    }
    
    #slogan4 {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
        box-shadow: 0px 0px 0px black;
        top: 60%;
        width: 100%;
    }
    
    .h1-slogan {
        margin-right: 0;
    }
    
    .h3-slogan {
        margin-right: 0;
    }

    .pb-2 {
        font-size: 3rem;
    }

    .poc-description {
        margin-bottom: 10%;
    }

    .poc-description-text {
        font-size: 1.2rem;
    }
    
    .features-heading {
        font-size: 1.8rem;
    }

    .features-text {
        font-size: 1.2rem;
    }

    .name-hytera {
        display: none;
    }
    
    .name-motorola {
        display: none;
    }
    
    .name-mytetra {
        display: none;
    }
    
    .brands-model-mobile {
        border-radius: 20px;
        margin-bottom: 10%;
        width: 80%;
    }

    .brands-model {
        display: none;
    }

    .brands-model-video {
        border-radius: 20px;
        margin-bottom: 10%;
        margin-top: 0;
        width: 80%;
    }

    .rainbow-text-clients {
        margin-top: 0;
        margin-bottom: 10%;
    }

    .logo-clients-1 {
        width:  30%;
    }
    
    .logo-clients-2 {
        width:  30%;
    }
    
    .logo-clients-3 {
        width:  30%;
    }
    
    .logo-clients-4 {
        width:  30%;
    }
    
    .logo-clients-5 {
        width:  30%;
    }
    
    .logo-clients-6 {
        width: 25%;
    }
    
    .logo-clients-7 {
        width:  30%;
    }
    
    .logo-clients-8 {
        width:  30%;
    }
    
    .logo-clients-9 {
        width:  30%;
    }
    
    .logo-clients-10 {
        width:  30%;
    }

    .d-block {
        border-radius: 20px;
        margin-bottom: 8%;
        width: 100%;
    }

    .shop-link {
        margin-left: 50%;
    }
    
    .container-contact {
        text-align: center;
    }

    .contact-text {
        margin-top: 3%;
    }
    
    .contact-detail {
        font-size: 2rem;
        margin-right: 38%;
        text-align: right;
    }
      
    #earth {
        background-size: 1000px;
        margin-left: 55%;
        margin-top: 10%;
      }
    
      @keyframes rotate {
        from {
          background-position: 0px 0px;
        }
        to {
          background-position: 1000px 0px;
        }
      }
    
      @-webkit-keyframes rotate {
        from {
          background-position: 0px 0px;
        }
        to {
          background-position: 1000px 0px;
        }
      }

      .logo-footer {
        width: 35%;
    }
    
    }








/* //////////////////// PHONE //////////////////// PHONE //////////////////// */
    @media (max-width: 480px) {

        .logo-abacus {
            margin-left: 3%;
            width: 6%;
        }
        
        .span-name {
            font-size: 0.9rem;
            margin-right: 5%;
        }
        
        .span-slogan {
            display: none;
        }

        .container-hero {
            background-image: linear-gradient(to bottom, transparent 20%, rgba(20, 20, 20, 1) 100%), url(images/background\ hero\ mobile.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 100vh;
            margin: auto;
            overflow: hidden;
            padding-bottom: 5%;
            padding-top: 6%;
            text-align: left;
            width: 100%;
        }

        .slogan {
            margin-left: 2%;
            padding: 0 0;
            text-align: left;
        }
        
        #slogan1 {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(0px);
            box-shadow: 0px 0px 0px black;
            top: 12%;
            width: 100%;
        }
        
        #slogan2 {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(0px);
            box-shadow: 0px 0px 0px black;
            top: 22%;
            width: 100%;
        }
        
        #slogan3 {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(0px);
            box-shadow: 0px 0px 0px black;
            top: 32%;
            width: 100%;
        }
        
        #slogan4 {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(0px);
            box-shadow: 0px 0px 0px black;
            top: 42%;
            width: 100%;
        }
        
        .h1-slogan {
            font-size: 1.4rem;
            margin-right: 0;
        }
        
        .h3-slogan {
            color: #005073;
            font-size: 1.2rem;
            margin-right: 0;
        }

        .abacus-logo {
            margin-left: 5%;
            margin-top: 115%;
            width: 90%;
        }

        .poc-description {
            padding-top: 10%;
        }
        
        .poc-description-heading {
            width: 90%;
        }
        
        .poc-description-text {
            font-size: 1.2rem;
            width: 90%;
        }

        .pb-2 {
            font-size: 2rem;
            margin-bottom: 0;
            text-align: right;
        }
        
        .features-heading {
            font-size: 1.3rem;
            margin-bottom: 1%;
            margin-top: 0;
            text-align: right;
        }

        .feature-icon {
            display: none;
        }

        .features-text {
            font-size: 1.2rem;
        }
    
        .name-hytera {
            display: none;
        }
        
        .name-motorola {
            display: none;
        }
        
        .name-mytetra {
            display: none;
        }
        
        .brands-model-mobile {
            border-radius: 20px;
            margin-bottom: 10%;
            width: 80%;
        }
    
        .brands-model {
            display: none;
        }
    
        .brands-model-video {
            border-radius: 20px;
            margin-bottom: 10%;
            margin-top: 0;
            width: 90%;
        }
    
        .rainbow-text-clients {
            font-size: 3.5rem;
            margin-top: 10%;
            margin-bottom: 10%;
        }

        .logo-clients-1 {
            width:  40%;
        }
        
        .logo-clients-2 {
            width:  40%;
        }
        
        .logo-clients-3 {
            width:  40%;
        }
        
        .logo-clients-4 {
            width:  40%;
        }
        
        .logo-clients-5 {
            width:  40%;
        }
        
        .logo-clients-6 {
            width: 30%;
        }
        
        .logo-clients-7 {
            width:  40%;
        }
        
        .logo-clients-8 {
            margin-top: 0;
            width:  40%;
        }
        
        .logo-clients-9 {
            width:  40%;
        }
        
        .logo-clients-10 {
            width:  40%;
        }

        .carousel-inner {
            margin-top: 10%;
            width: 100%;
        }
        
        .d-block {
            border-radius: 20px;
            margin-bottom: 10%;
            width: 80%;
        }

        .container-contact {
            background-image: linear-gradient(to bottom, transparent 20%, rgba(20, 20, 20, 1) 100%), url(images/background\ contact\ mobile.jpg);
            padding-right: 0;
            text-align: center;
        }

        .rainbow-text {
            font-size: 3.5rem;
            margin-bottom: 10%;
            margin-top: 10%;
        }

        .contact-logo-abacus {
            width: 6%;
        }
        
        .contact-span-name {
            font-size: 1rem;
        }

        .shop-link {
            margin-left: 50%;
        }

        .contact-text {
            font-size: 1rem;
            margin-bottom: 3%;
            margin-top: 5%;
            margin-right: 5%;
            text-align: right;
        }

        .contact-detail {
            font-size: 1.2rem;
            margin-right: 5%;
            text-align: right;
        }

        .contact-link {
            font-size: 1.1rem;
        }

        #earth {
            background-size: 1200px;
            height: 600px;
            margin-left: -60%;
            margin-top: 20%;
            width: 600px;
          }
        
          @keyframes rotate {
            from {
              background-position: 0px 0px;
            }
            to {
              background-position: 1200px 0px;
            }
          }
        
          @-webkit-keyframes rotate {
            from {
              background-position: 0px 0px;
            }
            to {
              background-position: 1200px 0px;
            }
          }

        .logo-footer {
            width: 55%;
        }

        .text-footer {
            font-size: 0.9rem;
        }
        
        .link-footer {
            font-size: 1rem;
        }

    }